.slider{
    max-width: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slider-line{
    width: 1600px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-line img{
    width: 400px;
    height: 250px;
}
